[project]
	description = This project is for New Relic DB2 plugin coded with Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yylbj
[access "refs/for/refs/*"]
	read = group user/yylbj
	push = group user/yylbj
	label-Code-Review = -2..+2 group user/yylbj
	label-Verified = -1..+1 group user/yylbj
	rebase = group user/yylbj
	removeReviewer = group user/yylbj
	submit = group user/yylbj
[access "refs/heads/*"]
	read = group user/yylbj
	create = group user/yylbj
	push = +force group user/yylbj
	pushMerge = group user/yylbj
[access "refs/tags/*"]
	push = +force group user/yylbj
	pushTag = group user/yylbj
	pushSignedTag = group user/yylbj
